/* CSS Document */
usn
{ 
display:block; color:blue; font-style:italic;
}  
college
{ 
display:block; 
color:green; 
font-style:italic;
}
branch
{ 
display:block; color:red; font-style:italic;
}  
email
{
 display:block; color:blue; font-style:italic;
}
